<div class="banner" >
  <div class="container">
    <h1>Create a new "Drippy Cocktails"</h1>
</div>
</div>

<body>
<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>

<% end %>

<button type='button' class="btn btn-primary" onclick="location.href='<%= cocktails_path %>';">Go back</button>
</body>